VITE_FIREBASE_API_KEY=AIzaSyCk4ZHj2xTgY1JLcnXf9YadfWV__IrPw9o\nVITE_FIREBASE_AUTH_DOMAIN=mentor-web00.firebaseapp.com\nVITE_FIREBASE_PROJECT_ID=mentor-web00\nVITE_FIREBASE_STORAGE_BUCKET=mentor-web00.firebasestorage.app\nVITE_FIREBASE_MESSAGING_SENDER_ID=720121403258\nVITE_FIREBASE_APP_ID=1:720121403258:web:33a0222743831b6277e8c3
